$content-width: 960px;

.PrivacyPage {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px 16px 48px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: $content-width;
}

.title {
    margin: 0;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    letter-spacing: -0.02em;

    @media (width <= 650px) {
        font-size: 30px;
    }
}

.collapse {
    width: 100%;
}

.section {
    width: 100%;
}

.list {
    padding-left: 24px;
}
