.small {
    font-size: 12px;
    line-height: 20px;
}

.large {
    font-size: 16px;
    line-height: 24px;
}

.extraLarge {
    font-size: 50px;
    line-height: 60px;
}

div.base {
    margin-bottom: 0 !important;
}
